body{
    margin: 0;
    padding: 0;
    min-height: 95%;
    position: relative;
}

/*Header*/
header{
    display: block;
    height: 50px;
    width: 100%;
    background-color: crimson;
    border-bottom: 2px solid black;
}
header p{
    margin-top: 0px;
    font-size: 40px;
    font-weight: 800;
    color: white;
    display: inline;
}
header img{
    height: 40px;
    width: 40px;
    margin-left: 10px;
}
header span{
    float: right;
}
header span a{
    margin: 0 20px;
}

/*Main*/
main{
    margin-top: 30px;
    display: block;
}
.news{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 95%;
}
article{
    margin: 15px;   
    border: 2px solid silver;
    border-radius: 10px;
    font-size: 20px;
}
article p{
    min-height: 70px;
}
article img{
    border-radius: 10px 10px 0 0;
    height: 400px;
    width: 100%;
}
article a{
    height: 17px;
    font-size: 15px;
    background-color: pink;
    width: 100%;
    display: block;
    color: black;
    padding: 1px;
    border-radius: 0 0 10px 10px ;
}
table, th, td{
    border: 1px solid black;
}
table{
    margin: 20px 0;
}

@media screen and (max-width: 440px){
    /*Header*/
    header{
        display: block;
        height: 30px;
        width: 100%;
        background-color: crimson;
        border-bottom: 2px solid black;
    }
    header p{
        margin-top: 0px;
        margin-left: 10px;
        font-size: 15px;
        font-weight: 600;
        display: inline;
    }
    header img{
        height: 20px;
        width: 20px;
        margin-left: 5px;
    }
    header span{
        float: right;
        padding-top: 5px;
    }
    header span a{
        margin: 0 3px;
    }

    /*Main*/
    main{
        margin-top: 10px;
        display: block;
        font-size: 12px;
    }
    .news {
        grid-template-columns: 1fr;
        width: 90%;
        margin: 0 auto;
    }
    article{
        margin-bottom: 20px;
        border: 2px solid silver;
        border-radius: 5px;
        font-size:15px;
    }
    article img{
        border-radius: 5px 5px 0 0;
        height: 150px;
        width: 100%;
    }
    article p{
        margin: 0;
    }
    article a{
        height: 17px;
        background-color: pink;
        width: 100%;
        display: block;
        color: black;
        padding: 1px;
        border-radius: 0 0 10px 10px ;
    }
    table{
        margin: 20px 0;
        font-size: 7px;
    }
    table input{
        max-width: 50px;
        font-size: 8px;
    }
  }